main{
    background-image: url(../assets/img/hero.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    section{
        padding-top: 50px;
        display: flex;
        justify-content:left;
    }
}
.cardmain{
    color: $color-texto;
    ul{
        margin: 10px;
    li{
    text-decoration: none;
    list-style-type: none;
    margin: 0 0 20px 0;
    font-size: 60px;
    font-weight: bold;
    a{
        color: azure;
    }
}
    }
}

.cardmain a:hover{
    color: rgb(240, 112, 140);
}

.asistencia{
@include boton(rgb(163, 216, 196), rgb(48, 38, 26))
    
}