

@media(max-width:1024px){
    header{
    section{
        display: flex;
        justify-content:space-between;
        padding: 0;
    .deliveryheader img{
        width: 550px;
    }
    }
    }
}